<ion-header>

    <ion-navbar>
        <ion-title>Meus Projetos</ion-title>
    </ion-navbar>

    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="myProjeto">
            <ion-segment-button large value="sobre">
                Sobre
            </ion-segment-button>

            <ion-segment-button large value="integrantes">
                <ion-icon name="people"></ion-icon>
            </ion-segment-button>


            <ion-segment-button large value="chats">
                <ion-icon name="chatbubbles"></ion-icon>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

</ion-header>

<ion-content padding>

    <div [ngSwitch]="myProjeto">

        <ion-list *ngSwitchCase="'integrantes'">

            <ion-item *ngFor="let item of list">

                <ion-card class="card">
                    <ion-card-header>
                        <ion-item>
                            <ion-avatar item-start>
                                <img [src]="item.photo || '../../assets/imgs/p2.jpg'">
                            </ion-avatar>
                            <h2> {{ item.nome }} </h2>
                            <p> {{ item.email }}</p>
                        </ion-item>
                    </ion-card-header>

                    <ion-card-content>

                        <fieldset *ngIf="item.funcao != null; else funcao">
                            <legend> {{ item.funcao }} </legend>
                            <p> {{ item.desc_f }} </p>
                        </fieldset>
                        <fieldset *ngIf="item.faculdade != null">
                            <legend> {{ item.faculdade }} </legend>
                            <p> {{ item.curso }} </p>
                        </fieldset>

                        <ng-template #funcao>
                            <p>
                                Click em alterar para definir função
                            </p><br>
                        </ng-template>

                        <button ion-button outline clear small color="danger" *ngIf="projeto.adm" (click)="presentShowConfirm(item)">EXCLUIR</button>
                        <button ion-button outline clear small *ngIf="projeto.adm" (click)="presentPrompt(item,'update')">ALTERAR</button>
                        <button ion-button outline clear small (click)="goToTarefas(item)">CARTÕES</button>
                    </ion-card-content>
                </ion-card>

            </ion-item>


        </ion-list>

        <ion-list *ngSwitchCase="'sobre'">

            <h3 class="titulo">{{ projeto.nome }}</h3>

            <img [src]="(this.projeto.url) || '../../assets/imgs/projeto_2.jpg'" class="s_img">

            <fieldset>
                <legend>Descricao:</legend>
                <p>{{ projeto.descricao }}</p>
            </fieldset><br>
            <fieldset>
                <legend>Prazo:</legend>
                <p>Data de Inicio: {{ projeto.data_ini }}</p>
                <p>Data de Termino: {{ projeto.data_fim }}</p>
            </fieldset><br>

            <fieldset>
                <p>Faculdade: {{ projeto.faculdade }}</p>
                <p>Campus: {{ projeto.campus }}</p>
                <p>Administrador: {{ projeto.dono }}</p>
            </fieldset><br>

            <div>
                <ion-item (click)="goToDespesas()" color="primary">
                    Orçamento do Projeto
                    <ion-icon name="card" item-end></ion-icon>
                </ion-item>

                <ion-item (click)="goToArquivos()" outline color="primary">
                    Arquivos
                    <ion-icon name="attach" item-end></ion-icon>
                </ion-item>

                <div *ngIf="projeto.adm">

                    <ion-item (click)="presentPrompt(item,'insert')" color="primary">
                        Adicionar Participantes
                        <ion-icon name="person-add" item-end></ion-icon>
                    </ion-item>

                    <ion-item (click)="goToEditProjeto()" color="primary">
                        Editar Informações do Projeto
                        <ion-icon name="settings" item-end></ion-icon>
                    </ion-item>

                    <ion-item (click)=" presentShow('finalizar')" outline color="primary">
                        Finalizar Projeto
                        <ion-icon name="information-circle" item-end></ion-icon>
                    </ion-item>

                </div>

                <ion-item color="danger" (click)=" presentShow('sair')">
                    Sair do Projeto
                    <ion-icon name="sad" item-end></ion-icon>
                </ion-item>
            </div>
        </ion-list>

        <ion-list *ngSwitchCase="'chats'">
            <div>
                <message-box *ngFor="let item of itens" [message]="item" [isTrue]="(item.id_user === user.id)">
                </message-box>
            </div>
        </ion-list>
    </div>

</ion-content>

<ion-footer *ngIf="this.segment.value == 'chats'">
    <ion-toolbar>
        <ion-item no-lines>
            <ion-input type="text" (keyup.enter)="sendMessage(newMessage); newMessage=''" placeholder="Messagem..." [(ngModel)]="newMessage"></ion-input>
            <button ion-button item-right (click)="sendMessage(newMessage); newMessage=''">
                <ion-icon name="send"></ion-icon>
            </button>
        </ion-item>
    </ion-toolbar>
</ion-footer>