page-login {

    .custom-title{
        padding-top: 2em;
    }
    .titulo{
        padding-top: 2em;
        padding-bottom: 2em;
        text-align: center;
    }
    .botao{
        margin-top: 1em;
    }
}
