<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content id="page4">

  <form novalidate [formGroup]="updateForm">
    <ion-list *ngFor="let user of list | async">
      <div class="background-perfil">
      </div>
      <div class="photo">
        <img style="width: 100%;height: 100%;" class="round" [src]="( user.photo ) || '../assets/imgs/user.png'" />
      </div>
      <h3 style="text-align: center;margin-top: 141px">{{user.nome}} {{ user.sobrenome}}</h3>

      <ion-item>
        <ion-icon name="ios-image-outline"></ion-icon>
        <label for="file">Escolher foto</label>
        <input name="file" accept="image/*" id="file" class="inputfile" type="file" (change)="uploadFile($event)" />
        <progress-bar *ngIf="(percent < 99 )" [progress]="percent"></progress-bar>
      </ion-item>

      <ion-item>
        <ion-label stacked>Nome:</ion-label>
        <ion-input type="text" [disabled]="disable == 1" value="{{ user.nome }}" formControlName="nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Sobre Nome:</ion-label>
        <ion-input type="text" [disabled]="disable == 1" value="{{ user.sobrenome }}" formControlName="sobrenome">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Data Nascimento:</ion-label>
        <ion-input type="text" [disabled]="disable == 1" value=" {{ user.data_nasc }}" formControlName="data_nasc">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Sexo:</ion-label>
        <ion-input type="text" [disabled]="disable == 1" value=" {{ user.sexo }}" formControlName="sexo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Situação:</ion-label>
        <ion-input type="text" [disabled]="disable == 1" formControlName="situacao" value=" {{ user.situacao }}">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Faculdade:</ion-label>
        <ion-input type="text" [disabled]="disable == 1" formControlName="faculdade" value="{{ user.faculdade }}">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Curso:</ion-label>
        <ion-input type="text" [disabled]="disable == 1" formControlName="curso" value="{{ user.curso }}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Campus:</ion-label>
        <ion-input type="text" [disabled]="disable == 1" formControlName="campus" value="{{ user.campus }}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Semestre:</ion-label>
        <ion-input type="text" [disabled]="disable == 1" formControlName="semestre" value="{{ user.semestre }}">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Email:</ion-label>
        <ion-input type="email" [disabled]="disable == 1" value="{{ user.email }}" formControlName="email"></ion-input>
      </ion-item>

      <button ion-button [disabled]="disable == 1 || updateForm.invalid" block class="add" (click)="submitForm()">Salvar
        Alterações</button>
      <button ion-button color="danger" [disabled]="disable == 2" block class="add" (click)="disable = 2">Alterar
        Cadastro</button>
    </ion-list>
  </form>

</ion-content>