page-projetos {
    .img-new {
        width: 200px;
        height: 180px;
        margin-left: 20%;
    }
    .part {
        border-bottom-style: dotted;
        border-bottom-width: 1px;
        margin-top: 15px;
    }
    .btn_p {
        margin-left: 2em;
    }
    .progressBar {
        position: relative;
        width: 100%;
        height: 2.3px;
        background: #eeeeee;
        margin-bottom: 12px;
        box-shadow: 0 0px 3px;
        margin-top: 10px;
    }
    .html {
        height: -webkit-fill-available;
    }
    .baixo {
        background-color: red;
    }
    .medio {
        background-color: yellow;
    }
    .alto {
        background-color: rgb(36, 220, 10)
    }
    .txt-baixo {
        color: red;
    }
    .txt-alto {
        color: green;
    }
    .txt-medio {
        color: yellow;
    }
}