page-despesas {
  .saldo {
    color: rgb(20, 190, 33);
    text-shadow: 1px 1px 1px;
    text-align: center;
    size: 20px;
  }
  .saldo_circle {
    padding: 20px;
    background-color: rgba(143, 247, 125, 100);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0%;
    box-shadow: 0px 0px 8px black;
  }
  .card-background-page {
    .top {
      position: relative;
      text-align: center;
      margin: 0;
      width: 100%;
    }

    .card-title-top {
      position: absolute;
      top: 36%;
      font-size: 2em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle-top {
      font-size: 1em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  }
}
