<ion-header>
  <!--<ion-navbar>
   
  </ion-navbar>-->

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="chats">
      <ion-segment-button large value="conversas">
        Conversas
      </ion-segment-button>
      <ion-segment-button large value="projetos">
        Grupos
      </ion-segment-button>
      <ion-segment-button large value="ducklings">
        Contatos
      </ion-segment-button>
      <ion-segment-button large value="novaConversa">
        <button ion-button clear icon-only>
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of items">
      {{ item }}
    </ion-item>
  </ion-list>



</ion-header>

<ion-content padding id="page3">

  <div [ngSwitch]="chats">
    
    <ion-list *ngSwitchCase="'conversas'">

      <ion-item *ngFor="let item of contacts | async " (click)="goToMessage(item)">
        <ion-avatar item-start>
          <img src="../../assets/imgs/p1.jpg">
        </ion-avatar>
        <h2>{{ item.title }}</h2>
        <p>{{ item.lastMessage }}</p>
      </ion-item>

    </ion-list>

    <ion-list *ngSwitchCase="'projetos'">

      <ion-item (click)="goToMessage()">
        <ion-card>
          <img src="../../assets/imgs/projeto_1.jpg" />
          <div class="card-title">São Paulo</div>
          <div class="card-subtitle">Projeto Cultural</div>
        </ion-card>
      </ion-item>

      <ion-item>
        <ion-card>
          <img src="../../assets/imgs/projeto_2.jpg" />
          <div class="card-title">Amsterdam</div>
          <div class="card-subtitle">64 Listings</div>
        </ion-card>
      </ion-item>



    </ion-list>

    <ion-list *ngSwitchCase="'ducklings'">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="../../assets/imgs/p2.jpg">
        </ion-thumbnail>
        <h2>Daffy</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="../../assets/imgs/p3.jpg">
        </ion-thumbnail>
        <h2>Huey</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="../../assets/imgs/p1.jpg">
        </ion-thumbnail>
        <h2>Dewey</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="../../assets/imgs/p2.jpg">
        </ion-thumbnail>
        <h2>Louie</h2>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'novaConversa'">

      <ion-item>
        <ion-label>Gêreno:</ion-label>
        <ion-select [(ngModel)]="sexo">
          <ion-option value="todos">Todos</ion-option>
          <ion-option value="masculino">Masculino</ion-option>
          <ion-option value="feminino">Femenino</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Faculdade:</ion-label>
        <ion-select [(ngModel)]="faculdade">
          <ion-option value="Uninove">Uninove</ion-option>
          <ion-option value="Unip">Unip</ion-option>
          <ion-option value="USP">USP</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Cursos:</ion-label>
        <ion-select [(ngModel)]="curso">
          <ion-option value="Ciencias da Computação">Ciencias da Computação</ion-option>
          <ion-option value="Sistema da Informação">Sistema da Informação</ion-option>
          <ion-option value="ps">Analise e Desenvolvimento de Sistemas</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Campus:</ion-label>
        <ion-select [(ngModel)]="campus">
          <ion-option value="Santo Amaro">Santo Amaro</ion-option>
          <ion-option value="Vergueiro">Vergueiro</ion-option>
          <ion-option value="Barra Funda">Barra Funda</ion-option>
        </ion-select>
      </ion-item>
      <button ion-button outline id="Entrar" (click)="limpar()">REESTABELECER</button>
      <button ion-button outline id="Entrar" (click)="goToFindChats()">OK</button>
    </ion-list>


  </div>

</ion-content>