<ion-header>

  <ion-navbar>
    <ion-title>Meus Projetos</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="myProjeto">
      <ion-segment-button large value="sobre">
        Sobre
      </ion-segment-button>

      <ion-segment-button large value="integrantes">
        <ion-icon name="people"></ion-icon>
      </ion-segment-button>


      <ion-segment-button large value="">
        <ion-icon name="chatbubbles"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content padding>

  <div [ngSwitch]="myProjeto">

    <ion-list *ngSwitchCase="'integrantes'">

      <ion-item *ngFor="let item of list">

        <ion-card class="card">
          <ion-card-header>
            <ion-item>
              <ion-avatar item-start>
                <img src="../../assets/imgs/p2.jpg">
              </ion-avatar>
              <h2> {{ item.nome }} </h2>
              <p> {{ item.email }}</p>
            </ion-item>
          </ion-card-header>

          <ion-card-content>

            <fieldset *ngIf="item.funcao != null; else funcao">
              <legend> {{ item.funcao }} </legend>
              <p> {{ item.desc_f }} </p>
            </fieldset>
            <fieldset *ngIf="item.faculdade != null">
              <legend> {{ item.faculdade }} </legend>
              <p> {{ item.curso }} </p>
            </fieldset>

            <ng-template #funcao>
              <p>
                Click em alterar para definir função
              </p><br>
            </ng-template>


            <button ion-button outline clear small color="danger" (click)="presentShowConfirm(item)">EXCLUIR</button>
            <button ion-button outline clear small (click)="presentPrompt(item)">ALTERAR</button>
            <button ion-button outline clear small (click)="goToTarefas(item)">TAREFAS</button>
          </ion-card-content> 

        </ion-card>

      </ion-item>


    </ion-list>

    <ion-list *ngSwitchCase="'sobre'">

      <h3 class="titulo">{{ projeto.nome }}</h3>

      <img src="../../assets/imgs/projeto_2.jpg" class="s_img">

      <fieldset>
        <legend>Descricao:</legend>
        <p>{{ projeto.descricao }}</p>
      </fieldset>


      <fieldset>
        <legend>Prazo:</legend>
        <p>Data de Inicio: {{ projeto.data_ini }}</p>
        <p>Data de Termino: {{ projeto.data_fim }}</p>
      </fieldset>

      <fieldset>
        <p>Faculdade: {{ projeto.faculdade }}</p>
        <p>Campus: {{ projeto.campus }}</p>
        <p>Administrador: {{ projeto.dono }}</p>
      </fieldset>

      <button ion-button block outline icon-start (click)="presentPrompt()">
        <ion-icon name="contact"></ion-icon>
        Adicionar Participantes
      </button>

      <button ion-button block outline color="dark" icon-start (click)="presentShowConfirm(item)">
        <ion-icon name="contact"></ion-icon>
        Editar informações do Projeto
      </button>

      <button ion-button block outline color="secondary" icon-start (click)="presentShowConfirm(item)">
        <ion-icon name="contact"></ion-icon>
        Finalizar o Projeto
      </button>

    </ion-list>

  </div>


</ion-content>